#about {
  margin-top: 4rem;
}

/* Skill box container*/
.skills {
  display: flex;
  flex-wrap: wrap;

  margin: auto;

  max-width: 400px;
  /*height: 200px;*/
}

/* Each skill container with icon inside*/
.skill {
  flex: 1;

  margin-left: .8rem;
  margin-right: .8rem;

  background-color: lightgray;

  height: 50px;
  width: 80px;

  cursor: pointer;

  box-shadow: 3px 3px lightgray;

  transition: transform .5s;
}

/*Rotate clockwise when skill is hovered*/
.skill:hover, .skill:focus {
  transform: rotate(45deg);
}

/* Changing the size of skill icons */
.about_icon {
  font-size: 2rem;
  padding: .5rem;
}

/* Enlarge text with bold class */
.bold {
  font-size: 1.2rem;
}

/* placing disply area's button */

.display_ground_btn {
  margin-top: 1.5rem;
  bottom: 2rem;
}

/* Styling a tag that looks like a button*/
.display_more {
  width: 88px;
  background-color: white;
  text-decoration: none;
  user-select: none;
  font-family: 'Press Start 2P', cursive;
}

.display_container {
  margin: auto;

  padding-left: 1rem;
  padding-right: 1rem;
}

/* When the div is hidden*/
.display_ground_hide_about{
  display: none;
}
.display_ground_hide_frontend {
  display: none;
}

.display_ground_hide_backend {
  display: none;
}

.display_ground_hide_android {
  display: none;
}

.display_ground_hide_game {
  display: none;
}


/* When div is currently visible*/
.display_ground_about {
  margin: auto;

  display: block;
  min-width: 220px;
  max-width: 500px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: .5rem;

  box-shadow: 5px 5px darkgray;

  background-color: lightgray;
}


.display_ground_frontend {
  margin: auto;

  display: block;
  min-width: 220px;
  max-width: 500px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: .5rem;

  box-shadow: 5px 5px darkgray;

  background-color: rgb(255, 100, 100);
}

.display_ground_backend {
  margin: auto;

  display: block;
  min-width: 220px;
  max-width: 500px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: .5rem;

  box-shadow: 5px 5px darkgray;

  background-color: lightgreen;
}

.display_ground_android {
  margin: auto;

  display: block;
  min-width: 220px;
  max-width: 500px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: .5rem;

  box-shadow: 5px 5px darkgray;

  background-color: lightblue;
}

.display_ground_game {
  margin: auto;

  display: block;
  min-width: 220px;
  max-width: 500px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: .5rem;

  box-shadow: 5px 5px darkgray;

  background-color: orange;
}

.display_ground_title {
  margin-left: 1rem;
  padding-top: 2rem;
  font-size: 1.2rem;
  /*font-size: 2vw;*/
}

.display_ground_text {
  max-width: 400px;
  margin-left: 2rem;
  margin-right: 2rem;

  line-height: 24px;
}


/* Background colour and animations for icons*/
.frontend {
  background-color: red;
}

.backend {
  background-color: lightgreen;
}

/* Rotate counterclockwise when icon is hovered*/
.backend:hover, .backend:focus {
  transform: rotate(-45deg);
}

.mobile {
  background-color: skyblue;
}

.game {
  background-color: orange;
}

/* Rotate counterclockwise when icon is hovered*/
.game:hover, .game:focus {
  transform: rotate(-45deg);
}

















