/* Project section */
#project {
  margin-top: 5rem;
  margin-bottom: 8rem;
  padding-top: 7rem;
}

/* styling the select box*/
.skill_options {
  border-top: 2px dotted red;
  border-left: 2px dotted green;
  border-bottom: 2px dotted blue;
  border-right: 2px dotted orange;

  display: block;
  margin: auto;

  font-size: .7rem;
  height: 30px;
  outline: none;

  margin-bottom: 2rem;
}

/* Declaring project container*/
.project_display {
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;

  max-width: 80%;
}

/* Setting up the style of each project*/
.singleProeject {
  border-top: 3px dotted red;
  border-left: 3px dotted green;
  border-bottom: 3px dotted blue;
  border-right: 3px dotted orange;

  min-width: 250px;
  max-width: 500px;

  height: 250px;

  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  flex-grow: 1;
  flex-basis: 30%;

  transition: border-top .5s, border-left .5s, border-bottom .5s, border-right .5s;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Project hove animation*/
.singleProeject:hover, .singleProeject:focus {
  border-top: 3px dotted green;
  border-left: 3px dotted blue;
  border-bottom: 3px dotted orange;
  border-right: 3px dotted red;
}

/* The overlay block element on top of each project (not showing) */
.project_hover {
  background-color: transparent;
  height: 0px;
  width: 0px;
  transition: width .25s;
  /*direction: rtl;*/

  text-align: center;
}

/* The overlay block element on top of each project (showing) */
.hover_project_display {
  background-color: rgba(255, 255, 255, 0.9);
  display: block;
  height: 100%;
  width: 100%;

  /*direction: rtl;*/
}

/* Title when project box is hovered*/
.project_title {
  padding-top: 1rem;
  text-align: center;
  overflow: auto;
  white-space: nowrap;

  transition: all .25;
}

/* detail section when project box is hovered*/
.project_details {
  margin-top: 3rem;
  overflow: auto;
}

/* stack info when project box is hovered*/
.project_stack {
  text-align: center;
  white-space: nowrap;
  /*overflow: auto;*/
}

.project_details > button {
  white-space: nowrap;
}

/* When learnmore is not clicked*/
.project_detail_hide {
  display: none;
}

/* When learnmore is clicked and block element is showing */
.display_project_detail {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  z-index: 9999;
  background-color: rgb(220, 200, 220, 0.8);
}

/* Using media query to create different popup box */
.project_detail_section {
  margin: auto;
  margin-top: -1.2rem;
  width: 70%;
  /*height: 50vh;*/
  padding-bottom: 2rem;
  background-color: white;

  border: 2px solid black;
}

/* Setting the top part of project detail display box's background image setting*/
.project_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 4px solid black;
  height: 40vh; /* This line ensures the image always takes 40% of the height*/
  width: 100%;
}


.project_detail_section > h3 {
  margin-left: 1rem;
}

.project_detail_section > p {
  width: 60%;
  margin: auto;
  margin-top: 2rem;
}

/* Having a flex container on two buttons */
.display_btns {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

/* More info button */
.more {
  flex: 1;
  margin: auto;
  background-color: skyblue;

  max-width: 150px;

}

/* close project detail button*/
.exit {
  flex: 1;
  background-color: rgb(255, 130, 130);
  margin: auto;
  max-width: 150px;
}

.project_filter_label {
  font-size: .8rem;
  text-align: center;
  margin: auto;
  display: block;
  margin-bottom: .5rem;
}

.project_analize {
  overflow: scroll;
  height: 160px;
}

.project_ana_title {
  text-align: center;
  margin-bottom: 0.2rem;
}

.project_ana_text {
  margin: auto;
  width: 90%;
}



