/*Breakpoint 780px*/

/* Icon for closing nav */
.fa-times {
  color: white;
  font-size: 2.3rem;
  margin: 2rem 0 0 2rem;

  cursor: pointer;
}

.navTitleOpen {
  color: white;
  font-family: 'Nova Script', cursive;
  font-size: 2.2rem;
  display: inline-block;
}

.foregroundHeader {
  display: flex;
}

.foregroundCross {
  flex: 0;
}

.foregroundLogo {
  flex: 1;
  text-align: center;
}

.overlayForeground {
  display: none;
}

.overlayForegroundDisplay {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 9999;
}

.overlayDivDisplay {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 2;
  background-color: black;
}

/* declare nav container as a flex container*/
.nav_items {
  display: flex;
  height: 100%;
  width: 100%;

}

/* When screen can fit in 3 columns*/
@media screen and (min-width: 780px) {
  /* Navigation flex item*/
  .nav_item {
    cursor: pointer;
    color: white;
    text-decoration: none;
    list-style: none;
    width: 100px;

    display: block;
    flex: 1;
  }

  .nav_item_text {
    display: block;
    margin: auto;
    position: relative;
    bottom: -30rem;

    font-size: 2rem;
    font-family: 'Syncopate', sans-serif;

    transition: bottom .5s;
  }

  /* Setting the width of nav title based on the width of the text*/
  .about_text {
    width: 150px;
  }

  .project_text {
    width: 220px;
  }

  .contact_text {
    width: 200px;
  }

  /*Setting image background*/
  .about {
    background-image: url('../../../src/me.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  .project {
    /* Image from https://unsplash.com/photos/mCj7UinqOYQ */
    background-image: url('../../../src/navPro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  /* Image from https://unsplash.com/photos/FYWefC6L7Ho*/
  .contact {
    background-image: url('../../../src/contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  /* The block element for revealing animation*/
  .fading {
    width: 100%;
    height: 100%;
    background-color: black;

    transition: height .75s;
  }

  .fading_reverse {
    position: absolute;

    bottom: 0;
    width: 33.4%;
    height: 100%;
    background-color: black;
    transition: height .75s;
  }

  /* Block element when nav item is hovered*/
  .hover_bk {
    margin-top: -2.2rem;
    height: 100%;
    width: 100%;
    background-color: transparent;

    transition: background-color .5s;
  }

  .hover_bk_show {
    margin-top: -3.3rem;
    height: 100%;
    width: 100%;
    background-color: rgba(112, 112, 112, 0.8);
  }


}
