/* The main navigation when closed*/
.mainNav {
  width: 100%;
  height: 100px;

  display: flex;
  position: fixed;
  background-color: white;

  /* to prevent other element on the page to overlay nav*/
  z-index: 99;

  transition: background-color .5s;
}

.mainNav:hover, .mainNav:focus {
  background-color: black;
}

/* Hamburger menu*/
.fa-bars {
  font-size: 2.7rem;
  cursor: pointer;
  transition: color .5s;
}

.fa-bars:hover, .fa-bars:focus {
  /* Overriding js added inlinestyle */
  color: lightgray !important;
}

/* The container flex item for hamburger icon*/
.navDashesContainer {
  flex: 0;
  margin-left: 2rem;
  padding-top: 1.6rem;
}

/* Logo container flex item*/
.navTitleContainer {
  flex: 1;
}

/* Logo */
.navTitle {
  font-family: 'Nova Script', cursive;
  color: black;
  text-align: center;
  font-size: 2.2rem;
  margin-top: 1.7rem;

  transition: color .5s;
}