/* Breakpoint when the screen is too small to fit in three columns*/
@media screen and (max-width: 779px) {
  /* The header when nav bar is fully opened*/
  .foregroundHeader {
    height: 80px;
  }
  /*Changing the */
  .nav_items {
    flex-direction: column;
    height: 90% !important;
  }

  .nav_item {
    cursor: pointer;
    color: white;
    text-decoration: none;
    list-style: none;
    width: 100%;

    display: block;
    flex: 1;
  }

  /*Adding background images*/
  .about {
    background-image: url('../../../src/me.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 20%;
    height: 100%;
  }

  .project {
    /* Image from https://unsplash.com/photos/mCj7UinqOYQ */
    background-image: url('../../../src/navPro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  /* Image from https://unsplash.com/photos/FYWefC6L7Ho*/
  .contact {
    background-image: url('../../../src/contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  .nav_item_text {
    display: block;
    margin: auto;

    margin-top: 2rem;
    font-family: 'Syncopate', sans-serif;

    transition: margin-top .5s;
  }

  /*Setting text width based on how long is the word*/
  .about_text {
    width: 115px;
  }

  .project_text {
    width: 165px;
  }

  .contact_text {
    width: 150px;
  }
}