/*
  The following secion is code for the open nav animation, both pre trasision state and after transition state
*/
.overlayDivLeftTop {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transition: all .5s;
  /*transition: height 5s, width .5s, background-color .5s;*/
}

.overlayDivRightTop {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  transition: all .5s;

  z-index: 99;
}

.overlayDivRightBottom {
  position: fixed;
  top: 100vh;
  right: 0;
  width: 0;
  height: 0;
  transition: all .5s;

  z-index: 99;
}

.overlayDivLeftBottom {
  position: fixed;
  top: 100vh;
  left: 0;

  width: 0;
  height: 0;
  transition: all .5s;

  z-index: 99;
}


.overlayNavLeftTop {
  position: fixed;
  background-color: black;
  width: 50%;
  height: 50vh;
  /*z-index: 2;*/
  transition: all .5s;

  z-index: 99;
}

.overlayNavRightTop {
  position: fixed;
  background-color: black;
  width: 50%;
  height: 50vh;

  transition: all .5s;
}

.overlayNavRightBottom {
  position: fixed;
  background-color: black;
  width: 50%;
  height: 50vh;

  /* Making sure animation starts at the bottom*/
  transform: translateY(-50vh);
  transition: all .5s;
}

.overlayNavLeftBottom {
  position: fixed;
  background-color: black;
  width: 50%;
  height: 50vh;

  /* Making sure animation starts at the bottom*/
  transform: translateY(-50vh);

  transition: all .5s;
}
