footer {
  display: block;
  height: 200px;
  width: 100%;
  background-color: black;

  margin-top: 8rem;

  /*margin-bottom: 28rem;*/
}

.return_top_btn {
  display: block;
  margin: auto;
  background-color: red;
  height: 50px;
  width: 50px;

  transform: rotate(45deg);
  text-decoration: none;

  position: relative;
  top: -1.6rem;
  transition: top .5s;
}

.return_top_btn:hover {
  top: -2.6rem;
}

.fab, .fas, .far {
  display: block !important;
  text-align: center;
}

.fa-angle-double-up {
  color: white;
  font-size: 2.2rem;

  /* Positioning icon */
  margin-right: .55rem;
  padding-top: .4rem;

  transform: rotate(-45deg);
}

.footer_icons {
  display: flex;
  max-width: 300px;
  height: 60px;
  margin: auto;
  margin-top: 1rem;
}

.footer_icon {
  flex: 1;
  margin-left: .5rem;
  margin-right: .5rem;
  text-decoration: none;

  cursor: pointer;
  background-color: rgb(100, 100, 100);

  transition: background-color .5s;
}


.footer_git:hover {
  background-color: red;
  position: relative;
  top: -1rem;
}

.footer_linkedin:hover {
  background-color: green;
  position: relative;
  top: -1rem;
}

.footer_email:hover {
  background-color: purple;
  position: relative;
  top: -1rem;
}

.footer_phone:hover {
  background-color: darkorange;
  position: relative;
  top: -1rem;
}


.footer_icon_content {
  color: white;
  font-size: 2rem;

  margin-top: .8rem;
}


















